#activities-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#all-activities {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#single-activity {
  border: solid #cdb4db;
  border-radius: 12px;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 50%;
}
