#my-routines-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10rem;
}

#my-routines {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.new-routine-public {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 0 auto;
  padding: 5px;
  margin-top: 1rem;
  font-size: 1rem;
}

#routine-back-button {
  width: 20vw;
}
