.routines-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.all-routines {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.routine-name {
  text-decoration: underline;
}

.single-routine {
  border: solid #cdb4db;
  border-radius: 12px;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 50%;
}

.activity-header {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
